<% layout('../layouts/layoutBlank.html', {
title: '发单管理',
page: 'orderList',
isColumn: false,
keywords: 'JeeWeb SpringMVC Spring Hibernate',
description: 'JeeWeb是一款基于SpringMVC+Spring+Hibernate的敏捷开发系统；它是一款具有代码生成功能的智能快速开发平台；是以Spring Framework为核心容器，Spring MVC为模型视图控制器，Hibernate为数据访问层， Apache Shiro为权限授权层，Ehcahe对常用数据进行缓存，Disruptor作为并发框架，Bootstrap作为前端框架的优秀 开源 系统。'
}){ %>
<div class="layui-container ui-padding">
	<div class="layui-tab ">
		<ul class="layui-tab-title layui-inline">
			<li class="layui-this fly-panel">常规(接手)</li>
			<li class="fly-panel">发单流程</li>
		</ul>
		<div class="layui-inline"><a>分享订单信息</a></div>			
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show ">
				<div class="ui-div-border ui-div-tips">小提示：LOL排位赛请标明模式如“单双排”或“灵活组排”</div>
				<form class="layui-form layui-form-pane" action="">
					<div>
					<div class="layui-form-item layui-inline ui-width280">
								<label class="layui-form-label">订单号</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item layui-inline ui-width280">
								<label class="layui-form-label">发布时间</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-form-item layui-inline">
						<label class="layui-form-label">订单区服</label>
						<div class="layui-input-block ">
							<input type="text" name="title" lay-verify="title"
								autocomplete="off" placeholder="请输入标题" class="layui-input">
						</div>
					</div>
						<div class="layui-inline ui-margin-bottom15"><a>分享订单信息</a></div>
					<div class="layui-form-item">
						<label class="layui-form-label">订单任务</label>
						<div class="layui-input-block">
							<input type="text" name="title" lay-verify="title"
								autocomplete="off" placeholder="请输入标题" class="layui-input">
						</div>
					</div>
					<div>
					<div class="layui-form-item layui-inline ui-width280">
								<label class="layui-form-label">订单价格</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item layui-inline ui-width280">
								<label class="layui-form-label">订单时限</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
						</div>
					<div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">安全保证金</label>
							<div class="layui-input-block">
								<input type="text" name="title" lay-verify="title"
									autocomplete="off" placeholder="请输入标题" class="layui-input">
							</div>
						</div>
						<div class="layui-inline ui-height36">
							<button type="button"
								class="layui-btn layui-btn-xs layui-btn-disabled">
								<i class="iconfont icon-close"></i>
							</button>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">效率保证金</label>
							<div class="layui-input-block">
								<input type="text" name="title" lay-verify="title"
									autocomplete="off" placeholder="请输入标题" class="layui-input">
							</div>
						</div>
						<div class="layui-inline ui-height36">
							<button type="button"
								class="layui-btn layui-btn-xs layui-btn-disabled">
								<i class="iconfont icon-close"></i>
							</button>
						</div>
					</div>
					<div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">订单说明</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">订单要求</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-col-sm10">
						    <div>
							<div class="layui-form-item layui-inline">
								<label class="layui-form-label">联系人</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
															<div class="layui-inline ui-margin-bottom15">
								<button type="button" class="layui-btn">上家信息</button>
							</div>
							</div>
							<div class="layui-form-item layui-inline ui-width280">
								<label class="layui-form-label">电话</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
							<div
								class="layui-form-item layui-inline ui-width280 ui-float-right">
								<label class="layui-form-label">QQ</label>
								<div class="layui-input-block">
									<input type="text" name="title" lay-verify="title"
										autocomplete="off" placeholder="请输入标题" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-col-sm2  ui-width-center">
							<div class="ui-margin-top20" data-method="publish">
								<button type="button" class="layui-btn ui-weight-height60">接手</button>
							</div>
						</div>
					</div>
					<div class="ui-padding-base">
		               <h4>订单会在接单者提交验收的48小时后自动确认结算,请及时关注进展! 因个人疏忽造成损失后果自负sfafasfa2314155555555555555555555555555555555555555555555555555!</h4</h4>
		               </div>
					<div>
					</div>
				</form>
			</div>
			<div class="layui-tab-item">
				<div class=“fly_panel”>
					<table class="layui-hide" id="pubList"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="pubListDiv" class="layui-hide">
	<div>
	<div class="layui-container ui-padding ui-width345">
	<div class="ui-padding-base">
		<h4>你的账号将被冻结 0.00元</h4>
		</div>
		<div class="ui-padding-base">
		<div class="layui-form-item layui-inline ui-width280">
			<label class="layui-form-label ui-padding-left0 ui-width60">支付密码</label>
			<div class="layui-input-block ui-margin-left75">
				<input type="password" name="title" lay-verify="title"
					autocomplete="off" placeholder="请输入标题" class="layui-input">
			</div>
		</div></div>
		<div class="ui-padding-base">
		<h4>订单会在接单者提交验收的48小时后自动确认结算,</h4>
		<h4>请及时关注进展! 因个人疏忽造成损失后果自负!</h4></div>
		<div class="ui-padding-base">
			<input type="checkbox" name="like1[read]" lay-skin="primary">
			已阅读并同意<a>《代练通发单者协议》</a>
		</div>
	</div>
	</div>
</div>
<% } %>
<script>
    layui.config({
        version: "3.0.0"
        ,base: '${staticPath}/mods/'  //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>